@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: sans-serif;
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 1.5s cubic-bezier(0.39, 0.575, 0.565, 1)
    0.25s both;
  animation: fade-in-bottom 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0.25s both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
html {
  scroll-snap-type: y mandatory;
}
